<DOCTYPE html>
    <html>
    <head>
        <style>
            body {
                background-image: url('/image/bar.jpg');
                background-size: cover;
                background-position: center;
                height: 100vh;
                margin: 0;
                padding: 0;
            }
            h1 {
                margin-top: 200px;
                font-size: 60px;
                color: #fff;
                letter-spacing:5.5px;
            }
            h4 {
                color: white;
                width: 60%;
                margin-top: 50px;
                letter-spacing: 2.5px;
            }
            .home {
                margin-left:-250px;
            }
        </style>
    </head>
    <body>
        <div class="home">
            <div class="info">
                <h1>KAWAICAT</h1>
                <h4>
                    Наша главная цель - это довольный и счастливый клиент. А доволен клиент тогда, когда отличный результат.
                    Именно поэтому мы с особым вниманием подходим к каждому клиенту, внимательно выслушивая их пожелания. <br />
                    <br />
                    В нашем салоне красоты мы используем только проверенные и безопасные материалы, а также современное оборудование, чтобы обеспечить максимальный комфорт и безопасность во время проведения процедур. 
                    Мы гордимся своей репутацией и постоянно совершенсвтуем свои навыки, чтобы каждый клиент может насладиться заботой о своем внешнем облике и почувствовать себя по-настоящему прекрасным.
                </h4>
            </div>
        </div>
    </body>
</html>
</DOCTYPE>